body{
    background: rgb(231, 231, 231);
}
#homeimg{
    width: 50px;
    border-radius: 25px;
}
#homename{
    display: inline;
    color: rgb(132, 112, 0);
}
#homeNavbar{
    text-align: right;
    
}
.homeNavbar{
    text-decoration-line: none;
    color: rgb(132, 112, 0);
    border: 2px solid;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2%;
    padding-right:2% ;
}